In [63]:
import pandas as pd
import numpy as np
df = pd.read_csv('playtennis.csv')
df

    Day   Outlook  Temp Humidity   Windy Class
0     1     sunny   hot     high    weak     N
1     2     sunny   hot     high  strong     N
2     3  overcast   hot     high    weak     P
3     4      rain  mild     high    weak     P
4     5      rain  cool   normal    weak     P
5     6      rain  cool   normal  strong     N
6     7  overcast  cool   normal  strong     P
7     8     sunny  mild     high    weak     N
8     9     sunny  cool   normal    weak     P
9    10      rain  mild   normal    weak     P
10   11     sunny  mild   normal  strong     P
11   12  overcast  mild     high  strong     P
12   13  overcast   hot   normal    weak     P
13   14      rain  mild     high  strong     N

In [117]:
data=df.loc[:9]

In [118]:
data.set_index('Day',inplace=True)

In [119]:
data

      Outlook  Temp Humidity   Windy Class
Day
1       sunny   hot     high    weak     N
2       sunny   hot     high  strong     N
3    overcast   hot     high    weak     P
4        rain  mild     high    weak     P
5        rain  cool   normal    weak     P
6        rain  cool   normal  strong     N
7    overcast  cool   normal  strong     P
8       sunny  mild     high    weak     N
9       sunny  cool   normal    weak     P
10       rain  mild   normal    weak     P

In [120]:
fp=data[data['Class']=='P']
Pp=f.shape[0]/data.shape[0]
fn=data[data['Class']=='N']
Pn=fn.shape[0]/data.shape[0]

In [121]:
col=data.columns
probs=[]
for i in range(data.shape[1]-1):
    d=data[col[i]]
    ds=set(d)
    p={}
    for j in ds:
        p[j]=[data[(data[col[i]]==j) & (data['Class']=='P')].shape[0]/fp.shape[0],
              data[(data[col[i]]==j) & (data['Class']=='N')].shape[0]/fn.shape[0]]
    probs.append(p)
probs

[{'overcast': [0.3333333333333333, 0.0],
  'sunny': [0.16666666666666666, 0.75],
  'rain': [0.5, 0.25]},
 {'hot': [0.16666666666666666, 0.5],
  'mild': [0.3333333333333333, 0.25],
  'cool': [0.5, 0.25]},
 {'high': [0.3333333333333333, 0.75], 'normal': [0.6666666666666666, 0.25]},
 {'weak': [0.8333333333333334, 0.5], 'strong': [0.16666666666666666, 0.5]}]

In [131]:
tcs=df[10:]
tcs =np.array(tcs)
tcs = tcs[:,1:-1]
tcs

array([['sunny', 'mild', 'normal', 'strong'],
       ['overcast', 'mild', 'high', 'strong'],
       ['overcast', 'hot', 'normal', 'weak'],
       ['rain', 'mild', 'high', 'strong']], dtype=object)

In [132]:
for tc in tcs:
    ye=Pp
    no=Pn
    print(len(tc))
    for i in range(len(tc)):
        ye*=probs[i][tc[i]][0]
        no*=probs[i][tc[i]][1]

    print(ye,no)
    # probs[0]['overcast'][0]
    if(ye>no):
        print("He likes to play Tennis")
    else:
        print("He doesn't like to play Tennis")

4
0.0037037037037037025 0.009375000000000001
He doesn't like to play Tennis
4
0.0037037037037037025 0.0
He likes to play Tennis
4
0.018518518518518514 0.0
He likes to play Tennis
4
0.005555555555555554 0.009375000000000001
He doesn't like to play Tennis