In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
heartdisease = pd.read_csv('/content/drive/MyDrive/heart.csv')

In [ ]:
 pip install pgmpy

In [ ]:
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianNetwork
from pgmpy.inference import VariableElimination

In [ ]:
heartdisease = heartdisease.replace('?',np.nan)
heartdisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heartdisease.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
model = BayesianNetwork([('age','target'),('sex','target'),('exang','target'),('cp','target'),('target','restecg'),('target','chol')])

In [ ]:
model.fit(heartdisease,estimator=MaximumLikelihoodEstimator)

In [ ]:
print(model.get_cpds('age'))

In [ ]:
infer = VariableElimination(model)

In [ ]:
q1= infer.query(variables=['target'],evidence={'restecg':1})
print(q1)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.4242 |
+-----------+---------------+
| target(1) |        0.5758 |
+-----------+---------------+

In [ ]:
q2= infer.query(variables=['target'],evidence={'cp':2})
print(q2)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.3755 |
+-----------+---------------+
| target(1) |        0.6245 |
+-----------+---------------+