In [63]:
import pandas as pd
import numpy as np
df = pd.read_csv('movie_review.csv')
df.set_index('Examples',inplace=True)
df

                               Text     Class
Examples
1                 I loved the movie  positive
2                 I hated the movie  negative
3         a great movie. good movie  positive
4                       poor acting  negative
5          great acting. good movie  positive

In [79]:
punc = ['.',',','?','!']
for i in punc:
    df['Text']=df['Text'].str.replace(i,'')

C:\Users\y20cs19\AppData\Local\Temp/ipykernel_10356/1408974072.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Text']=df['Text'].str.replace(i,'')

In [65]:
df

                              Text     Class
Examples
1                I loved the movie  positive
2                I hated the movie  negative
3         a great movie good movie  positive
4                      poor acting  negative
5          great acting good movie  positive

In [67]:
m=df.shape[0]
vocab=[]
positive_vocab=[]
negative_vocab=[]
for i in range(1,m+1):
    if(df.loc[i]['Class']=='positive'):
        positive_vocab.extend(df.loc[i]['Text'].split())
    elif(df.loc[i]['Class']=='negative'):
        negative_vocab.extend(df.loc[i]['Text'].split())
    p=df.loc[i]['Text'].split()
    for j in range(len(p)):
        if p[j] not in vocab:
            vocab.append(p[j])

In [68]:
prob_positive=df[df['Class']=='positive'].shape[0]/df.shape[0]
prob_negative=df[df['Class']=='negative'].shape[0]/df.shape[0]

In [69]:
print("Enter the text:")
text =[x for x in input().split()]
for i in text:
    prob_positive *= (positive_vocab.count(i)+1)/(len(positive_vocab)+len(vocab))
    prob_negative *= (negative_vocab.count(i)+1)/(len(negative_vocab)+len(vocab))
if(prob_positive>prob_negative):
    print("Positive review")
else:
    print("Negative review")

Enter the text:
GOOD
Positive review